Binaries/
UE4ChromaSDKRT.v12.suo
UE4ChromaSDKRT.opensdf
UE4ChromaSDKRT.sdf
UE4ChromaSDKRT.sln
Intermediate/
Saved/AutoScreenshot.png
Saved/Autosaves/
Saved/Logs/
UE4ChromaSDKRT.v11.suo
Saved/Config/CleanSourceConfigs/Engine.ini
Saved/
