Binaries/
UE4ChromaSDKRT.v12.suo
UE4ChromaSDKRT.opensdf
UE4ChromaSDKRT.sdf
UE4ChromaSDKRT.sln
Intermediate/
UE4ChromaSDKRT.v11.suo
Saved/
Build/
UnrealEngineVersionChanger/.vs/
UnrealEngineVersionChanger/bin/
UnrealEngineVersionChanger/obj/
.vs/
UE4ChromaSDKRT.VC.db
UE4ChromaSDKRT.VC.VC.opendb
ChromaSDKPlugin_4_19.zip
ChromaSDKPlugin_Source_4_5.zip
*.tmp*
ChromaSDKPlugin_Source_4_10.zip
ChromaSDKPlugin_Source_4_19.zip
ChromaSDKPlugin_Source_4_18.zip
ChromaSDKPlugin_Source_4_17.zip
ChromaSDKPlugin_Source_4_16.zip
ChromaSDKPlugin_Source_4_15.zip
ChromaSDKPlugin_Source_4_14.zip
ChromaSDKPlugin_Source_4_13.zip
ChromaSDKPlugin_Source_4_12.zip
ChromaSDKPlugin_Source_4_11.zip
ChromaSDKPlugin_Source_4_9.zip
ChromaSDKPlugin_Source_4_8.zip
ChromaSDKPlugin_Source_4_7.zip
ChromaSDKPlugin_Source_4_6.zip
