Binaries/
UE4ChromaSDKRT.v12.suo
UE4ChromaSDKRT.opensdf
UE4ChromaSDKRT.sdf
UE4ChromaSDKRT.sln
Intermediate/
UE4ChromaSDKRT.v11.suo
Saved/
Build/
UnrealEngineVersionChanger/.vs/
UnrealEngineVersionChanger/bin/
UnrealEngineVersionChanger/obj/
.vs/
UE4ChromaSDKRT.VC.db
UE4ChromaSDKRT.VC.VC.opendb
ChromaSDKPlugin_4_19.zip
ChromaSDKPlugin_Source_4_5.zip
